.git/*
_ReSharper.hudao/*
hudao.suo
hudao/bin/*
hudao/obj/*
Controllers/bin/*
Controllers/obj/*
hudao/hudao.csproj.user
packages/*
Controllers/bin/*
Controllers/obj/*
Google.Material/bin/*
Google.Material/obj/*
hudao.sln.DotSettings.user